In [29]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
file_participation = "participation.xlsx"
file_enrollment = 'enrollment.xlsx'

participation2018 = pd.read_excel(file_participation, index_col=1, header=None, names=['School', 'Takers', 'Tests', '1', '2', '3', '4', '5+'])
participation2018.index.names = ['ID']
enrollment2018 = pd.read_excel(file_enrollment, index_col=1, names=['School', 'enrollment'])
enrollment2018.index.names = ['ID']

#participation2018 = pd.concat([participation2018])

In [3]:
relative_to_enrollment = pd.DataFrame()
relative_to_takers = pd.DataFrame()
relative_to_tests = pd.DataFrame()

In [4]:
participation_reference = pd.DataFrame([participation2018['1'],
                                        participation2018['2'],
                                        participation2018['3'],
                                        participation2018['4'],
                                        participation2018['5+']])
participation_reference = participation_reference.T
participation_reference['3-5+'] = participation2018['3'] + participation2018['4'] + participation2018['5+']
participation_reference['4-5+'] = participation2018['4'] + participation2018['5+']

In [5]:
participation_reference.head()

            1      2     3     4    5+   3-5+  4-5+
ID
10505    36.0   21.0  20.0   2.0   0.0   22.0   2.0
50505   112.0   78.0  26.0  11.0   4.0   41.0  15.0
70505    43.0   39.0   2.0   0.0   0.0    2.0   0.0
90505   199.0  183.0  77.0  18.0   3.0   98.0  21.0
100505  117.0  129.0  91.0  42.0  18.0  151.0  60.0

In [6]:
for i in participation_reference.columns:
    relative_to_enrollment[i] = participation_reference[i] / enrollment2018['enrollment']
    relative_to_takers[i] = participation_reference[i] / participation2018['Takers']
    relative_to_tests[i] = participation_reference[i] / participation2018['Tests']

In [7]:
relative_to_enrollment.head()

              1         2         3         4   5+      3-5+      4-5+
ID
10001       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10015       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10020       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10405       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10505  0.069632  0.040619  0.038685  0.003868  0.0  0.042553  0.003868

In [8]:
relative_to_takers.head()

               1         2         3         4        5+      3-5+      4-5+
ID
10505   0.455696  0.265823  0.253165  0.025316  0.000000  0.278481  0.025316
50505   0.484848  0.337662  0.112554  0.047619  0.017316  0.177489  0.064935
70505   0.511905  0.464286  0.023810  0.000000  0.000000  0.023810  0.000000
90505   0.414583  0.381250  0.160417  0.037500  0.006250  0.204167  0.043750
100505  0.294710  0.324937  0.229219  0.105793  0.045340  0.380353  0.151134

In [9]:
relative_to_takers.head()

               1         2         3         4        5+      3-5+      4-5+
ID
10505   0.455696  0.265823  0.253165  0.025316  0.000000  0.278481  0.025316
50505   0.484848  0.337662  0.112554  0.047619  0.017316  0.177489  0.064935
70505   0.511905  0.464286  0.023810  0.000000  0.000000  0.023810  0.000000
90505   0.414583  0.381250  0.160417  0.037500  0.006250  0.204167  0.043750
100505  0.294710  0.324937  0.229219  0.105793  0.045340  0.380353  0.151134

In [10]:
relative_to = [relative_to_enrollment, relative_to_takers, relative_to_tests]

In [11]:
for i in relative_to:
    i['School'] = participation2018['School']

In [12]:
relative_to_takers.head()

,1,2,3,4,5+,3-5+,4-5+,School
ID,,,,,,,,
10505,0.455696,0.265823,0.253165,0.025316,0.000000,0.278481,0.025316,Abington - Abington High
50505,0.484848,0.337662,0.112554,0.047619,0.017316,0.177489,0.064935,Agawam - Agawam High
70505,0.511905,0.464286,0.023810,0.000000,0.000000,0.023810,0.000000,Amesbury - Amesbury High
90505,0.414583,0.381250,0.160417,0.037500,0.006250,0.204167,0.043750,Andover - Andover High
100505,0.294710,0.324937,0.229219,0.105793,0.045340,0.380353,0.151134,Arlington - Arlington High

In [13]:
relative_to_takers = relative_to_takers.sort_values(['4'], ascending=False)

In [27]:
relative_to_enrollment = relative_to_enrollment.sort_values(['4-5+'], ascending=False)

In [28]:
relative_to_enrollment

,1,2,3,4,5+,3-5+,4-5+,School
ID,,,,,,,,
350560,0.268116,0.162440,0.140700,0.060386,0.029589,0.230676,0.089976,Boston - Boston Latin
1390505,0.158716,0.103209,0.073721,0.062446,0.023417,0.159584,0.085863,Hopkinton - Hopkinton High
4840505,0.179954,0.166287,0.102506,0.070615,0.000000,0.173121,0.070615,Roxbury Preparatory Charter (District) - Roxbu...
260505,0.129830,0.105873,0.082689,0.045595,0.023957,0.152241,0.069552,Belmont - Belmont High
6980510,0.110609,0.108352,0.047404,0.042889,0.018059,0.108352,0.060948,Manchester Essex Regional - Manchester Essex R...
6550505,0.072180,0.085714,0.081203,0.039098,0.021053,0.141353,0.060150,Dover-Sherborn - Dover-Sherborn Regional High
3300505,0.213564,0.125541,0.050505,0.034632,0.024531,0.109668,0.059163,Weston - Weston High
1890505,0.099704,0.083909,0.066140,0.045410,0.008885,0.120434,0.054294,Milton - Milton High
1780505,0.116116,0.077077,0.070070,0.027027,0.025025,0.122122,0.052052,Melrose - Melrose High
6750505,0.126786,0.071429,0.062500,0.041071,0.010714,0.114286,0.051786,Hamilton-Wenham - Hamilton-Wenham Regional High
1770505,0.175824,0.090659,0.059066,0.028846,0.021978,0.109890,0.050824,Medway - Medway High
2660505,0.096386,0.088971,0.050046,0.021316,0.025950,0.097312,0.047266,Sharon - Sharon High
7250505,0.171107,0.069672,0.031762,0.033811,0.013320,0.078893,0.047131,Nashoba - Nashoba Regional
6000505,0.106732,0.073344,0.056924,0.029009,0.017515,0.103448,0.046524,Acton-Boxborough - Acton-Boxborough Regional High
3480285,0.152318,0.139073,0.125828,0.039735,0.006623,0.172185,0.046358,Worcester - University Pk Campus School
2910505,0.101040,0.059435,0.035661,0.013373,0.032689,0.081724,0.046062,Swampscott - Swampscott High
500505,0.088685,0.082569,0.068298,0.025484,0.020387,0.114169,0.045872,Canton - Canton High
100505,0.088302,0.097358,0.068679,0.031698,0.013585,0.113962,0.045283,Arlington - Arlington High
3440505,0.094745,0.050333,0.044412,0.027387,0.017765,0.089563,0.045152,Winchester - Winchester High School
2100505,0.131185,0.104718,0.050633,0.039125,0.005754,0.095512,0.044879,Northampton - Northampton High
1640505,0.097222,0.092593,0.074074,0.033951,0.010802,0.118827,0.044753,Lynnfield - Lynnfield High
4870550,0.155063,0.079114,0.056962,0.025316,0.018987,0.101266,0.044304,Prospect Hill Academy Charter (District) - Pro...
6600505,0.151047,0.077178,0.055127,0.023153,0.020948,0.099228,0.044101,Nauset - Nauset Regional High
880505,0.104907,0.069374,0.047377,0.024535,0.018613,0.090525,0.043147,Easton - Oliver Ames High
3150505,0.128505,0.059579,0.046729,0.025701,0.015187,0.087617,0.040888,Wayland - Wayland High School
1590505,0.077325,0.074190,0.044932,0.021944,0.018809,0.085684,0.040752,Longmeadow - Longmeadow High
2070510,0.113636,0.060782,0.051797,0.029070,0.011628,0.092495,0.040698,Newton - Newton South High
7150505,0.177650,0.114613,0.077364,0.031519,0.008596,0.117479,0.040115,Mount Greylock - Mt Greylock Regional High
7600505,0.077051,0.072080,0.036454,0.030655,0.009114,0.076222,0.039768,Silver Lake - Silver Lake Regional High
3350505,0.144144,0.102102,0.050050,0.025025,0.014014,0.089089,0.039039,Westwood - Westwood High
...,...,...,...,...,...,...,...,...
7750305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7750310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7750315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7780005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7780010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7780305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7800315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8230605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Greater Lawrence Regional Vocational Technical...
8550605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8710605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8730605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8850605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9100705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9150705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35010505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35030205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35050405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35070505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35080505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35090305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35100205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35110205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35130305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35140305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35150205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
ax = sns.barplot(x="School", y="4-5+", data=relative_to_enrollment)

C:\Users\elanr\Anaconda3\lib\site-packages\seaborn\categorical.py:1460: FutureWarning: remove_na is deprecated and is a private function. Do not use.
  stat_data = remove_na(group_data)