In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
file_participation = "participation.xlsx"
file_enrollment = 'enrollment.xlsx'

participation2018 = pd.read_excel(file_participation, index_col=1, header=None, names=['School', 'Takers', 'Tests', '1', '2', '3', '4', '5+'])
participation2018.index.names = ['ID']
enrollment2018 = pd.read_excel(file_enrollment, index_col=1, names=['School', 'enrollment'])
enrollment2018.index.names = ['ID']

#participation2018 = pd.concat([participation2018])

In [4]:
relative_to_enrollment = pd.DataFrame()
relative_to_takers = pd.DataFrame()
relative_to_tests = pd.DataFrame()

In [5]:
participation_reference = pd.DataFrame([participation2018['1'],
                                        participation2018['2'],
                                        participation2018['3'],
                                        participation2018['4'],
                                        participation2018['5+']])
participation_reference = participation_reference.T
participation_reference['3-5+'] = participation2018['3'] + participation2018['4'] + participation2018['5+']
participation_reference['4-5+'] = participation2018['4'] + participation2018['5+']

In [6]:
participation_reference.head()

            1      2     3     4    5+   3-5+  4-5+
ID
10505    36.0   21.0  20.0   2.0   0.0   22.0   2.0
50505   112.0   78.0  26.0  11.0   4.0   41.0  15.0
70505    43.0   39.0   2.0   0.0   0.0    2.0   0.0
90505   199.0  183.0  77.0  18.0   3.0   98.0  21.0
100505  117.0  129.0  91.0  42.0  18.0  151.0  60.0

In [7]:
for i in participation_reference.columns:
    relative_to_enrollment[i] = participation_reference[i] / enrollment2018['enrollment']
    relative_to_takers[i] = participation_reference[i] / participation2018['Takers']
    relative_to_tests[i] = participation_reference[i] / participation2018['Tests']

In [8]:
relative_to_enrollment.head()

              1         2         3         4   5+      3-5+      4-5+
ID
10001       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10015       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10020       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10405       NaN       NaN       NaN       NaN  NaN       NaN       NaN
10505  0.069632  0.040619  0.038685  0.003868  0.0  0.042553  0.003868

In [9]:
relative_to_takers.head()

               1         2         3         4        5+      3-5+      4-5+
ID
10505   0.455696  0.265823  0.253165  0.025316  0.000000  0.278481  0.025316
50505   0.484848  0.337662  0.112554  0.047619  0.017316  0.177489  0.064935
70505   0.511905  0.464286  0.023810  0.000000  0.000000  0.023810  0.000000
90505   0.414583  0.381250  0.160417  0.037500  0.006250  0.204167  0.043750
100505  0.294710  0.324937  0.229219  0.105793  0.045340  0.380353  0.151134

In [10]:
relative_to_takers.head()

               1         2         3         4        5+      3-5+      4-5+
ID
10505   0.455696  0.265823  0.253165  0.025316  0.000000  0.278481  0.025316
50505   0.484848  0.337662  0.112554  0.047619  0.017316  0.177489  0.064935
70505   0.511905  0.464286  0.023810  0.000000  0.000000  0.023810  0.000000
90505   0.414583  0.381250  0.160417  0.037500  0.006250  0.204167  0.043750
100505  0.294710  0.324937  0.229219  0.105793  0.045340  0.380353  0.151134

In [11]:
relative_to = [relative_to_enrollment, relative_to_takers, relative_to_tests]

In [12]:
for i in relative_to:
    i['School'] = participation2018['School']

In [13]:
relative_to_takers.head()

,1,2,3,4,5+,3-5+,4-5+,School
ID,,,,,,,,
10505,0.455696,0.265823,0.253165,0.025316,0.000000,0.278481,0.025316,Abington - Abington High
50505,0.484848,0.337662,0.112554,0.047619,0.017316,0.177489,0.064935,Agawam - Agawam High
70505,0.511905,0.464286,0.023810,0.000000,0.000000,0.023810,0.000000,Amesbury - Amesbury High
90505,0.414583,0.381250,0.160417,0.037500,0.006250,0.204167,0.043750,Andover - Andover High
100505,0.294710,0.324937,0.229219,0.105793,0.045340,0.380353,0.151134,Arlington - Arlington High

In [14]:
relative_to_takers = relative_to_takers.sort_values(['4'], ascending=False)

In [15]:
relative_to_enrollment = relative_to_enrollment.sort_values(['4-5+'], ascending=False)

In [ ]:
relative_to_enrollment.plot.bar()